
html {
    font-family: 'Courgette', cursive;
    overflow-x: hidden;
}

#container {
    position: absolute;
    left: 30vw;
    width: 50vw;
    padding: 0 10vw;
    margin: 0;
}

#main {
    min-height: 70vh;
}

a {
    text-decoration: none;
    color: #bfbfbf; /*rgb(250, 70, 151);*/
    font-weight: bold;
    font-family: 'Courgette', cursive;
}

a:hover {
    color: #E70169;
}

.clear {
    clear: both;
}